<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I started my first job as a sales Representative and worked to ensure that customers receive the best benefits of insurance services.
As a manager, I Operated a team so that every member can participate and challenge together for a common goal.</p>
      </div>
      <div class="col-lg-4">
        <p>I can fully utilize my project experience (Requirement definition, Design, Implement, Test, Operation and Maintenance, Enhancements) and ability to understand requirements, processes, and build workable solutions in Cloud infrastructure </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://docs.google.com/document/d/1x4iaRZPHCbkfYTxm16eOtnt8iaIB-ZwXx2LfTycjH68/edit?usp=share_link" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download My Resume
        </a>
      </div>
    </div>
  </div>
</section>
